@{
  Layout = "_Layout";
}

@using FactoryRepair.Models;

<h1>List of Engineers</h1>

@if (@Model.Count == 0)
{
  <h3>No engineers have been added to this factory yet</h3>
  <p>@Html.ActionLink("Click here to add your first engineer", "Create")</p>
}

@foreach (Engineer engineer in Model)
{
  <li>@Html.ActionLink($"{engineer.EngineerName}", "Details", new { id = engineer.EngineerId })</li>
}

@if (@Model.Count != 0)
{
  <p>@Html.ActionLink("Add an additional engineer to the staff", "Create")</p>
}
<p>@Html.ActionLink("Return to the homepage", "Index", "Home")</p>